<img src="assets/order-image.jpg" style="height: 300px; width: 390px; margin-left: 423px;">
<p style="text-align: center;">
        hurray!!! your order is confirmed <br>
    the order id is #123456 save the order id for <br>
        further communication.. <br>
</p>

<table>
    <thead>
      <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>admin@bookstore.com</td>
        <td>+91 8163475881</td>
        <td>
            42, 14th Main, 15th Cross, Sector 4 ,opp to BDA <br>
            complex, near Kumarakom restaurant, HSR Layout, <br>
            Bangalore 560034 <br>
        </td>
      </tr>
    </tbody>
</table>

<button mat-raised-button color="primary" (click)="goToDashboard()" style="margin-left: 650px; margin-top: 30px;">CONTINUE SHOPPING</button>

  
