.dashboardNavbar{
    background-color: #A03037;
    height: 57px;
    display: flex;
    flex-direction: row;
}

.search{
    width: 500px; 
    background: transparent;
    background-color: white;
    height: 30px;
    margin-left: 50px;
    margin-top: 13px;
    border-radius: 5px;
    border-color: white;
}

.image{
    height: 30px;
    width: 30px;
    margin-top: 10px;
    color: white;
}

